langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
sentence-transformers
pypdf
python-dotenv
pandas
langchain-text-splitters
pymupdf
unstructured
pdfminer
python-docx
docx2txt
unstructured[docx]
pandas
openpyxl
msoffcrypto-tool
jq
matplotlib
## Embeddings
langchain-huggingface
sentence-transformers
## Vector Stores
chromadb
## Vector Databases
langchain-core
langchain-astradb
langchain-pinecone